/* HTML */
@font-face {
    font-family: "TeX Gyre Adventor";
    src: url("https://reg.sohnconference.com/fonts/texgyreadventor-regular.otf");
}

* { border: none; margin: 0; padding: 0; }
html { margin: 0; min-height: 100%; padding: 0;  position: relative; }
body { background: #fff; color: #666; font-size: 13px; font-family: TeX Gyre Adventor; height: 100%; margin: 0; padding: 0; position: relative; text-align: center; -webkit-text-size-adjust: none; }

body.large .show-small { display: none !important; }
body.large .hide-small { display: block !important; }
body.large .hide-large { display: none !important; }
body.small .hide-small { display: none; }
body.small .none-small { display: none; }

form { display: inline; }
html.js .click { cursor: pointer; }
.lower { text-transform: none !important; }

/* IMG */

img { border: none; display: block; margin: 0; }
img.img { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
img.center { display: inline-block; margin: 10px 0 0 0; }
img.left { float: left; margin: 10px 20px 10px 0; }
img.right { float: right; margin: 10px 0 10px 20px; }
img.img-50 { max-width: 50%; }
img.img-100 { max-width: 100%; }

/* TEXT */

h1 { color: #333; font-size: 14px; margin: 20px 0 0 0; text-transform: uppercase; }
h1:first-child { margin-top: 10px; }
h1.large { color: #f93; line-height: 30px; font-size: 22px; margin: 20px 0 0 0 !important; }
body.small h1.large { margin: 10px 0 0 0 !important; }
h1.invert { background: #f93; color: #fff; line-height: 20px; padding: 0 5px; text-align: center; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.article > h1.invert:first-child { margin-top: 0 !important; }

h2 { color: #333; font-size: 18px; line-height: 1.5em; margin: 20px 0 0 0; text-transform: uppercase; }
.article > h2:first-child { margin-top: 10px; }
h1.invert + h2 { margin-top: 10px; }
div.row-center + h2 { margin-top: 10px; }
p { font-size: 14px; line-height: 1.5em; margin: 10px 0 0 0; }
p.large { font-size: 12px; }
p.xlarge { font-size: 14px; }
h2 + p { margin-top: 0; }
ul { list-style-type: none; margin: 10px 0 0 0; }
ul li { font-size: 14px; line-height: 1.5em; list-style-type: square; margin: 5px 0 0 20px; }
ol { line-height: 1.5em; list-style-type: none; margin: 10px 0 0 0; }
ol li { font-size: 11px; list-style-type: decimal; margin: 5px 0 0 20px; }

a { color: #69c; cursor: pointer; text-decoration: underline; }
a:hover { color: #369; }

/* INVERT */

.invert { color: #fff; }
.invert h1 { color: #fff; }
.invert h2 { color: #fff; }

/* TABLE */

table { font-size: 14px; }
table.table { border-collapse: collapse; border-spacing: 0; margin: 10px 0 0 0; padding: 0; } 
table.table.wide { width: 100%; }
table.large { font-size: 12px; }
table.xlarge { font-size: 14px; }

table.table-calc th { font-weight: normal; padding: 5px 10px 5px 0; vertical-align: top; text-align: left; }
table.table-calc td { padding: 5px 0; vertical-align: top; text-align: right; }
table.table-calc tr.total th { font-weight: bold; text-align: right; }
table.table-calc tr.total td { border-top: 1px solid #ccc; font-weight: bold; }

/* FIELD */

label { float: left; line-height: 20px; margin: 10px 0 0 0; padding: 5px 10px 5px 0; text-align: right; width: auto; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
label.large { margin-left: -10px; width: 50% !important; }
input.field-text + label, select + label { padding-left: 20px; }
div.row > label:first-child { width: 25%; }

input, textarea, select { color: #000; font-family: TeX Gyre Adventor; font-size: 12px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.field-text, .field-select { background-color: #f3f3f3; border: 1px solid #ccc; border-bottom-color: #e6e6e6; display: block; float: left; margin: 10px 0 0 0; min-height: 30px; outline: none; padding: 5px; -moz-box-shadow: inset 0 3px 6px 0 rgba(0, 0, 0, 0.12); -webkit-box-shadow: inset 0 3px 6px 0 rgba(0, 0, 0, 0.12); box-shadow: inset 0 3px 6px 0 rgba(0, 0, 0, 0.12); }
.field-select option { background: #f3f3f3; padding: 0 5px; }
.field-select + .field-select { margin-left: 5px; }
body.xsmall .field-select + .field-select { margin-left: 0; margin-top: 5px !important; }

input.field-text.xsmall { width: 50px; }
input.field-text.small { width: 25%; }
input.field-text.large { width: 50%; }
body.small input.field-text.large { width: 75%; }
input.field-checkbox, input.field-radio { float: left; margin: 18px 11px 0 0; }
body.xsmall input.field-checkbox, body.xsmall input.field-radio { margin-top: 3px; }

textarea.field-text { width: 50%; }
body.small textarea.field-text { width: 75%; }
textarea.field-text.small { height: 80px; }
textarea.field-text.large { height: 160px; }

body.xsmall label { float: none; display: block; padding: 0 10px 0 0; text-align: left; width: 100% !important; }
body.xsmall .field-text, body.xsmall .field-select { float: none; margin: 0; }
body.xsmall .field-text.large { width: 100% !important; }

/* BUTTON */

.button { background: #f93; color: #fff; cursor: pointer; display: block; font-weight: bold; margin: 10px 0 0 0; overflow: hidden; padding: 0 10px; text-align: center; text-decoration: none; text-transform: uppercase; width: auto; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.button:hover { background: #c60; }
.button.left { float: left; margin-right: 10px; }
.button.right { float: right; margin-left: 10px; }
.button.small { height: 20px; font-size: 14px; line-height: 18px; }
.button.large { height: 30px; font-size: 18px; line-height: 28px; }

/* BULLET */

.bullet { background-color: transparent; background-repeat: no-repeat; display: block; margin: 5px 0 0 0; overflow: hidden; text-decoration: none; text-transform: uppercase; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
/*.bullet { background-color: transparent; background-repeat: no-repeat; color: #f93; display: block; margin: 5px 0 0 0; overflow: hidden; text-decoration: none; text-transform: uppercase; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }*/
.bullet.narrow { font-size: 0 !important; padding: 0 !important; text-indent: 2000px; }
input.bullet { border: none; }
a.bullet:hover, input.bullet:hover { color: #c60; }
.bullet.left { background-position: 0 0; }
a.bullet.left:hover, input.bullet.left:hover { background-position: 0 -200px; }
a.bullet.left.active { background-position: 0 -100px !important; }
.bullet.right { background-position: 100% 0; text-align: right; }
a.bullet.right:hover, input.bullet.right:hover { background-position: 100% -200px; }
a.bullet.right.active { background-position: 100% -100px; }

.invert .bullet { color: #fff; }
.invert a.bullet:hover, .invert input.bullet:hover { color: #fff; }
.invert .bullet.left { background-position: 0 -400px; }
.invert a.bullet.left:hover, .invert input.bullet.left:hover { background-position: 0 -600px; }
.invert .bullet.right { background-position: 100% -400px; text-align: right; }
.invert a.bullet.right:hover, .invert input.bullet.right:hover { background-position: 100% -600px; }

.bullet.small { font-size: 12px; font-weight: bold; line-height: 22px; min-height: 21px; color:#6699CC }
input.bullet.small { height: 20px; }
.bullet.small.narrow { width: 20px; }
.bullet.small.left { padding-left: 25px; }
.bullet.small.right { padding-right: 25px; }

.bullet.large { font-size: 18px; font-weight: bold; line-height: 30px; min-height: 30px; color:#6699CC }
input.bullet.large { height: 30px; }
.bullet.large.narrow { width: 30px; }
.bullet.large.left { padding-left: 35px; }
.bullet.large.right { padding-right: 35px; }

.bullet-back.small { background-image: url(../images/bullet-back-small.png); }
.bullet-forward.small { background-image: url(../images/bullet-forward-small.png); }
.bullet-next.small { background-image: url(../images/bullet-next-small.png); }
.bullet-prev.small { background-image: url(../images/bullet-prev-small.png); }
.bullet-parent.small { background-image: url(../images/bullet-parent-small.png); }
.bullet-facebook.small { background-image: url(../images/bullet-facebook-small.png); }
.bullet-twitter.small { background-image: url(../images/bullet-twitter-small.png); }
.bullet-youtube.small { background-image: url(../images/bullet-youtube-small.png); }
.bullet-point.small { background-image: url(../images/bullet-point-small.png); }
.bullet-info.small { background-image: url(../images/bullet-info-small.png); }
.bullet-error.small { background-image: url(../images/bullet-error-small.png); color: #f00; }
.bullet-warning.small { background-image: url(../images/bullet-warning-small.png); color: #f93; }
.bullet-success.small { background-image: url(../images/bullet-success-small.png); color: #0c0; }

.bullet-next.large { background-image: url(../images/bullet-next-large.png); }
.bullet-prev.large { background-image: url(../images/bullet-prev-large.png); }

/* CELL */

.cell { float: left; overflow: hidden; }

.cell-field { margin-right: 20px; }
.cell-field input.field-checkbox, .cell-field input.field-radio { float: left !important; margin-right: 2px; }
.cell-field input.field-checkbox + label, .cell-field input.field-radio + label { float: left !important; padding-right: 0 !important; padding-left: 0; width: auto !important; }
body.xsmall .cell-field label { margin-top: 0; !important; }

/* ROW */

div.row { margin: 0; overflow: hidden; padding: 0; position: relative; width: 100%; }
div.row.center { text-align: center; }

div.row-frame { margin: 10px 0 0 0; }

div.row-field p { float: left; line-height: 20px; margin-right: 10px; padding: 5px 0; }
div.row-field h2 { float: left; line-height: 30px; margin-right: 10px; }
div.row-field img { max-height: 70px; max-width: 70px; }
div.row-field .bullet, div.row-field .button.small { float: left; margin: 15px 0 0 10px; }
body.xsmall div.row-field .bullet, body.xsmall div.row-field .button.small { margin: 10px 0 0 0; position: absolute; right: 0; top: 0; }
div.row-field > textarea.field-text:first-child { width: 100% !important; }
div.row-field > input.field-text.xlarge:first-child { width: 100% !important; }
div.row-field .inline { float: left !important; line-height: 30px !important; margin: 10px 10px 0 0 !important; }
div.row-field p.label { clear: left; float: left; margin: 10px 0 0 25%; }

div.row-field.row-checkbox label, div.row-field.row-radio label { line-height: 20px; }
div.row-field.row-checkbox input.field-checkbox, div.row-field.row-radio input.field-radio { margin-top: 15px; }

div.row-button { margin: 10px 0 0 0; text-align: right; }
body.large form div.row-button { width: 75%; }
div.row-button .bullet, div.row-button .button { display: inline-block; margin: 10px 0 0 10px; vertical-align: middle; }
div.row-button .bullet + .bullet.right { border-left: 1px solid #f93; padding-left: 10px; }

body.large div.row-indent { padding-left: 25%; }
body.large div.row-indent ul.menu-progress { width: 70%; }
body.large div.row-indent p { width: 70%; }

/* MENU */

ul.menu, ol.menu { margin: 0; padding: 0; position: relative;  }
ul.menu li, ol.menu li { list-style-type: none; margin: 0; padding: 0; position: relative; }

ul.menu-news li { float: left; overflow: hidden; padding: 0 10px 10px 10px; position: relative; text-align: left; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
body.large ul.menu-news li { width: 320px; }
body.small ul.menu-news li { width: 100%; }
ul.menu-news .article-box { padding: 0 10px 25px 10px !important; text-align: left !important; }
ul.menu-news a.bullet { bottom: 10px; margin: 0 !important; position: absolute !important; right: 0; }
ul.menu-news h1.invert { margin: 0 -10px; }
ul.menu-news p { font-size: 11px; line-height: normal; }

ul.menu-paginate { float: right; margin: 0 0 0 15px; }
ul.menu-paginate li { float: left; }

ul.menu-bio li { float: left; overflow: hidden; position: relative; text-align: left; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width:100% }
body.large ul.menu-bio li { padding: 10px 20px 0 0; }
body.small ul.menu-bio li { width: 100%; }
ul.menu-bio img.img { float: left; margin: 10px 10px 0 0; }
ul.menu-bio h2 { line-height: normal; margin: 10px 0 0 80px; text }
ul.menu-bio p { font-size: 11px; line-height: normal; margin-left: 80px; }

ul.menu-progress { background: #f93; margin: 10px 0 0 0; overflow: hidden; width: 100%; }
ul.menu-progress li { color: #fff; float: left; font-size: 12px; font-weight: bold; line-height: 20px; text-align: center; width: 33%; }
ul.menu-progress li:first-child { width: 34%; }
ul.menu-progress li.active { background: #c60; }
body.small ul.menu-progress li { font-size: 11px; }

ul.menu-sponsor { overflow: hidden; width: 100%; }
ul.menu-sponsor li { float: left; margin: 0; overflow: hidden; padding: 0 5px; text-align: center; width: 33%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
body.large ul.menu-sponsor li { width: 100px; }
ul.menu-sponsor li img { margin: 10px auto 0 auto; }

ul.menu-col { overflow: hidden; }
ul.menu-col li { float: left; font-size: 14px; margin: 10px 0 0 0; overflow: hidden; padding: 0 10px 0 0; width: 33%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
ul.menu-col4 li { float: left; font-size: 14px; margin: 10px 0 10px 0; overflow: hidden; padding: 0 10px 0 0; width: 25%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* ARTICLE */

.article { display: block; margin: 10px 0 0 0; overflow: hidden; position: relative; width: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
body.large .article + .article { margin-top: 20px; }
.article > img:first-child, .article > div.row.center:first-child img { margin-top: 0; }

.article-box { background: #f3f3f3; font-size: 14px; padding: 10px 30px 30px 30px; text-align: center; }
body.small .article-box { border: none; }
body.small a.bullet.small-show + .article-box { border-top: none; }
.article-box.click .bullet:first-child { margin-top: 20px; }
.article-box.click:hover { background: #e6e6e6; color: #333 }
.article-box.click:hover h1.large { color: #c60; }
.article-box.click:hover h1.invert { background: #c60; }
.article-box p { font-size: 14px; }
.article-box.click:hover .bullet.left { background-position: 0 -200px; color: #c60; }
.article-box.click:hover .bullet.right { background-position: 100% -200px; color: #c60; }

.article-mission { text-align: center;}
.article-mission P { font-size:16px;}
body.large .article-mission { margin-top: 0;/* padding: 0 25%; */}
.article-mission h1 { background: transparent url(../images/article-mission-h1.png) no-repeat 50% 100%; margin-top: 0; padding: 0 0 10px 0; text-align: center; }

.article-movie { margin-top: 20px; max-width: 100%; overflow: hidden; position: relative; padding-bottom: 57%; width: 100%; }
.article-movie iframe { height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: 0; }

.article-paginate { margin: 0; text-align: right; }
body.large .article-paginate { margin: -10px 0; }

.article-event { background: #f3f3f3; }
body.large .article-event { margin-top: 0; }
.article-event img.img-background { left: 0; margin: 0; position: absolute; top: 0; z-index: 0; }
.article-event div.row-foreground { margin: 0; padding: 0 20px; text-align: center; z-index: 1; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
body.large .article-event div.row-foreground { padding: 0 12.5%; }
.article-event div.row-foreground h1 { font-size: 20px; margin: 30px 0 0 0; }
.article-event div.row-foreground h2 { font-size: 14px; margin: 0; }
.article-event div.row-foreground p { color: #fff; font-size: 12px; margin: 10px 0 0 0 !important; }
body.small .article-event div.row-foreground h1, body.small .article-event div.row-foreground h2, body.small .article-event div.row-foreground p, body.small .article-event div.row-foreground .bullet.right { text-shadow: 0 1px 5px #000; }
body.large .article-event div.row-foreground .bullet.right { margin-right: 120px; }
.article-event div.row-about { background: transparent url(../images/opacity.png) repeat 0 0; margin: 200px 0 0 0; padding-bottom: 20px; }
div.row-about p { padding:0 35px; font-size:14px }
.article-event div.row-speaker { background: transparent url(../images/opacity.png) repeat 0 0; margin: 0px 0 0 0; padding-bottom: 20px;  }
body.small .article-event div.row-speaker { margin-top: 20px; }
.article-event div.row-speaker ul.menu-speaker li { width: 210px; }

.article-register { background: #f3f3f3; padding: 10px; }
body.large .article-register { margin-top: 0; padding: 20px; }
.article-register img.img-background { left: 0; margin: 0; position: absolute; top: 0; z-index: 0; }
.article-register h1.invert { margin: 0; position: relative; z-index: 1; }
.article-register div.row-foreground { margin: 0; z-index: 1; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
body.large .article-register div.row-foreground { margin: 0; padding: 0 300px 60px 140px; }
.article-register div.row-foreground h2 { font-size: 14px; }
.article-register div.row-foreground p { font-size: 14px; }

/* COL */

.col { float: left; overflow: hidden; padding: 0 10px 10px 10px; position: relative; text-align: left; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
body.small .col { padding: 0 10px; }
body.large .col-100 { width: 100%; }
body.large .col-75 { width: 75%; }
body.large .col-66 { width: 640px; }
body.large .col-50 { width: 50%; }
body.large .col-33 { width: 320px; }
body.large .col-25 { width: 25%; }
body.large .col-100.center { margin: 0 12.5% !important; width: 75% !important; }
body.small .col { width: 100% !important; }	

/* SPECIAL */

body.large .article-hero { margin-bottom: -15px; }
body.large .article + .article-hero { margin-top: 10px; }
.article-hero div.cell-hero { display: none; float: none; margin: 0; width: 100%; }
.article-hero div.cell-hero:first-child { display: block; }
.article-hero div.cell-hero img.img { margin: 0; }
.article-hero div.cell-hero a.bullet-info { margin: 0; position: absolute; right: 10px; top: 10px; }
.article-hero a.bullet-prev { margin: -15px 0 0 0 !important; position: absolute; left: 10px; top: 50%; }
.article-hero a.bullet-next { margin: -15px 0 0 0 !important; position: absolute; right: 10px; top: 50%; }
.article-hero ul.menu-hero { float: right; margin: 5px 0 0 0; }
.article-hero ul.menu-hero li { float: left; margin: 0; }
.article-hero ul.menu-hero li a { margin: 0 !important; }

div.row-speaker { padding: 0 50px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
div.row-speaker h1.invert { margin: 20px -30px 0 -30px; padding: 0 30px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
div.row-speaker div.cell-speaker { display: block; float: none; width: 100%; }
div.row-speaker ul.menu-speaker li { float: left; text-align: center; width: 150px; }
div.row-speaker ul.menu-speaker h2 { color: #f93; margin: 20px 10px 0 10px; }
div.row-speaker ul.menu-speaker p { margin: 6px 10px; }
div.row-speaker ul.menu-speaker img { margin: 10px auto 0 auto; }
div.row-speaker ul.menu-speaker img + p { margin-top: 20px; text-align: left; }
div.row-speaker a.bullet-prev { margin: -15px 0 0 0 !important; position: absolute; left: 10px; top: 50%; }
div.row-speaker a.bullet-next { margin: -15px 0 0 0 !important; position: absolute; right: 10px; top: 50%; }

/*03-05-2013*/

div.row-speaker ul.menu-speaker div.cell-text { float: none; margin: 0; }
div.row-logo { margin: 10px 0 0 0; }
div.row-logo img { float: left; margin: 10px 20px 0 0; }
div.row-logo p { margin: 10px 0 0 160px; }
body.xsmall div.row-logo img { float: none; margin: 10px 0 0 0; }
body.xsmall div.row-logo p { margin: 10px 0 0 0; }

/*03-13-2013*/

ul.menu-name { margin: -5px 0 0 0; padding: 0 0 10px 0; }
ul.menu-name li { border-top: 1px solid #e6e6e6; font-size: 12px; font-weight: bold; margin: 9px 0 0 0; padding: 15px 0 0 0; }
ul.menu-name li:first-child { border-top: none; }

.article-box { padding: 10px 20px 20px 20px; text-align: left; }
.article-box h1.large { margin-top: 10px !important; }
.article-box.click:hover { background: #f3f3f3; color: #333; box-shadow: 0 0 10px #ccc; }

.article-link { padding: 10px 20px 50px 20px; text-align: left; }
.article-link h1 { font-weight: normal; }
.article-link p { font-size: 12px !important; }
.article-link div.row-link { background: #ececec; bottom: 0; left: 0; padding: 10px 0; position: absolute; }
.article-link div.row-link a.bullet { float: left !important; margin: 0 0 0 20px !important; }

.article-bullet { border-bottom: 10px solid #ececec; padding: 0 !important; }
div.row-bullet { background: transparent url(../images/row-bullet.png) repeat-y 0 0; padding: 0 20px 10px 20px; text-align: left; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
div.row-bullet-2, div.row-bullet-4 { background: #ececec; }
div.row-bullet h1 { font-size: 48px; font-weight: normal; margin: 10px 0 0 0; opacity: .4; }
div.row-bullet h2 { float: left; font-size: 12px !important; font-weight: normal; margin: 0; text-transform: none !important; width: 110px; }
div.row-bullet h2 strong { display: block; font-size: 14px !important; font-weight: bold; text-transform: uppercase !important; }
div.row-bullet p { font-size: 11px !important; margin: 0 0 0 150px; }
body.xsmall div.row-bullet h2 { float: none; width: auto; }
body.xsmall div.row-bullet p { margin: 0; }
.row-bullet-1 h1, .row-bullet-1 h2 { color: #f93 !important; }
.row-bullet-2 h1, .row-bullet-2 h2 { color: #399 !important; }
.row-bullet-3 h1, .row-bullet-3 h2 { color: #cc5a4d !important; }
.row-bullet-4 h1, .row-bullet-4 h2 { color: #d9004d !important; }

ul.menu-contact { margin: -5px 0 0 0; padding: 0 0 10px 0; }
ul.menu-contact li { border-top: 1px dashed #e6e6e6; margin: 15px 0 0 0; padding: 15px 0 0 0; }
ul.menu-contact li:first-child { border-top: none; }
ul.menu-contact a { display: block; }

ul.menu-jump { margin: 10px -10px 0 0; text-align: right; }
ul.menu-jump li { border-left: 1px solid #e6e6e6; display: inline-block; margin: 10px 0 0 0; }
ul.menu-jump li:first-child { border-left: none; }
ul.menu-jump a { display: inline-block; padding: 0 10px; text-transform: uppercase; }

ul.menu-project { margin: 10px -5px 0 -5px; overflow: hidden; }
ul.menu-project li { float: left; min-width: 210px; padding: 5px 0; position: relative; text-align: center; width: 33.3%; }
html.mobile ul.menu-project li { cursor: pointer; }
body.xsmall ul.menu-project li { float: none; width: 100%; }
ul.menu-project img { border: 1px solid #ccc; margin: 0 auto; }
ul.menu-project div.cell-project { background: #fff; border: 1px solid #ccc; box-shadow: 0 0 10px #ccc; display: none; height: 150px; left: 50%; margin: 0 0 0 -100px; padding: 0 9px 9px 9px; position: absolute; text-align: left; top: 5px; width: 200px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
ul.menu-project li:hover div.cell-project { display: block; }
ul.menu-project div.cell-project p { margin: 9px 0 0 0; font-size: 11px; }
.dspnone
{
    display:none;
}

.reqHdng
{ color:#ff0000; text-align:right}
.req
{ color:#ff0000; }