<configuration>
  <configSections>

    <section name="rewriter" requirePermission="false" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter" />
    <sectionGroup name="ajaxNet">
      <section name="ajaxSettings" type="AjaxPro.AjaxSettingsSectionHandler,AjaxPro.2" requirePermission="false" restartOnExternalChanges="true" />
    </sectionGroup>
  </configSections>

  <ajaxNet>
    <ajaxSettings>
      <urlNamespaceMappings>
      </urlNamespaceMappings>

      <debug enabled="false" />


      <token enabled="false" sitePassword="password" />

    </ajaxSettings>
  </ajaxNet>


  <location path="ajaxpro">
    <system.web>
      
      <pages validateRequest="false"  enableEventValidation="false" viewStateEncryptionMode="Never" />
      <customErrors defaultRedirect="http://www.sequence-events.com/EntepriseApp/Oops.htm" mode="On">
      </customErrors>
      <httpHandlers>
        <add verb="*" path="*.ashx" type="AjaxPro.AjaxHandlerFactory,AjaxPro.2" />
      </httpHandlers>

    </system.web>
  </location>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v3.5" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v3.5" />
        <providerOption name="OptionInfer" value="true" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
    </compilers>
  </system.codedom>

  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="false" />
    </settings>
  </system.net>


  <connectionStrings>
    <add name="CFNSDB2012" connectionString="Database=enterpriseDB;Server=SQLB34.webcontrolcenter.com ;user id=enterpriseAdmin;password=enterprise1310@;min pool size=1;max pool size=100;Pooling=false;" providerName="System.Data.SqlClient" />
  </connectionStrings>


  <system.web>
     <httpRuntime requestValidationMode="2.0" maxRequestLength="1048576" />
    <pages validateRequest="false" />
   
    <sessionState mode="InProc" cookieless="false" timeout="90" />


    <customErrors mode="Off" />


    <authentication mode="Forms">
      <forms loginUrl="login.aspx" name=".ASPNETAUTH" protection="None" path="/" timeout="20">
      </forms>
    </authentication>

    <authorization>
      <allow users="*" />
    </authorization>
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <machineKey
 validationKey="56AB7132992003EE87F74AE4D9675D65EED8018D3528C0B8874905B51940DEAF6B85F1D922D19AB8F69781B2326A2F978A064708822FD8C54ED74CADF8592E17"
 decryptionKey="A69D80B92A16DFE1698DFE86D4CED630FA56D7C1661C8D05744449889B88E8DC"
 validation="SHA1" decryption="AES" />
  </system.web>
  <appSettings>
    <add key="PrintPages" value="PrintPages/" />
    
    <add key="SMTPServer" value="mail.sequence-events.com" />
    <add key="CFNSAdminMailID" value="enterprise@sequence-events.com" />
    <add key="CFNSAdminBCCMailID" value="orikleinnyc@gmail.com" />
    
  

    <add key="AuditLogEnabled" value="No" />
    <add key="CFNSUsername" value="admin" />
    <add key="CFNSPassword" value="l3tm3in" />
    <add key="ReportPath" value="bo/Reports/"></add>
    <add key="CFNSDB2012" value="Data Source=SQLB34.webcontrolcenter.com; Database=enterpriseDB;User ID=enterpriseAdmin; Password=enterprise1310@;" />




  </appSettings>
  <system.webServer>

    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="false">

      <!--<remove name="ScriptModule" />
			<add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>-->
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter" />

    </modules>

    <handlers>
            </handlers>
	
  </system.webServer>
  <rewriter>

    <rewrite url="~/ny2014/Donation-step1" to="~/ny2014/donorindex.aspx" />
    <rewrite url="~/ny2014/Donation-step2" to="~/ny2014/DonorPayInfo.aspx" />
    <rewrite url="~/ny2014/Donation-step3" to="~/ny2014/donorChequeConfirm.aspx" />
    <rewrite url="~/ny2014/registration-step1-professional" to="~/ny2014/index.aspx" />
    <rewrite url="~/ny2014/registration-step2-professional" to="~/ny2014/AttendePayInfo.aspx" />
    <rewrite url="~/ny2014/registration-step3-professional" to="~/ny2014/Confirm_Cheque.aspx" />
    <rewrite url="~/ny2014/registration-step1-contributor" to="~/ny2014/contributorindex.aspx" />
    <rewrite url="~/ny2014/registration-step2-contributor" to="~/ny2014/ContriPayInfo.aspx" />
    <rewrite url="~/ny2014/registration-step3-contributor" to="~/ny2014/Contri_ChequeConfirm.aspx" />
  </rewriter>
</configuration>